@import "_colors";
@import "_fonts";

html {
    font-family: $primary-font !important;
    overflow-x: hidden;
}

body {
    background-color: #fff !important;
    font-family: $primary-font;
}

div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom:1rem !important;
}

div.wpforms-container-full .wpforms-form input[type="email"] {
    max-width: 100% !important;
}

p {
    font-family: $primary-font;
}

h1 {
    font-family: $primary-font !important;
}

.header {
    height: 110px;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 100;
    transition: 0.3s ease;
    top: 0;
    background-color: #fff;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    z-index: 10;
    //   position: absolute;
    margin-top: 110px;
}

.um-locked-content {
    display: none !important;
}

.um-form .um-account-side {
    width:100%;
}
.scroller {
    width: 12px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 34px;
    animation: scroller 1500ms ease-out infinite;
  }
  
  .scroll-container {
    width: 30px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 15px;
    position: relative;
  }
.arrow-scroll {
    z-index:1000;
    color: white;
    width: 22px;
    margin: 0 auto;
    display: block;
    position: absolute;
    font-size: 5em;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    border-radius: 17px;
    border: 1px solid white;
    border: separate;
    margin-bottom: 30px;
  }
  @keyframes scroller {
    0% {
      bottom: 34px;
    }
  
    5% {
      top: 4px;
    }
  
    32% {
      bottom: 4px;
    }
  
    66% {
      top: 34px;
      bottom: 4px;
    }
  
    100% {
      top: 4px;
      bottom: 34px;
    }
  }
.logo {
    display: flex;

    h2 {
        font-size: 1.4em;
        width: 115px;
        font-weight: 400;
        line-height: 10px;
        padding-top: 20px;
        padding-left: 5px;
    }
}

.user_text {
    display: flex;
    justify-content: space-evenly;

    h2 {
        padding-top: 25px;
    }

    .search {
        min-width: 150px;
        padding-top: 15px;
    }
}

.fullpage-image {
    display: block;
    // background-image: url(../img/startpage.jpg);
    // filter: brightness(0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    z-index: -10;
    top: 0;
    filter: brightness(75%);

    & .header-boxes-wrapper {
        padding-top: 25vh;
    }
}

.header-title {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 2em;
    line-height: 50px;
    color: white;
    padding-top: 50px;

    & h1 {
        font-size: 2.5em;
        font-weight: 700;
    }
}

.ugb-blog-posts.ugb-blog-posts--v2.ugb-blog-posts--design-basic .ugb-blog-posts__excerpt {
    font-size: 16px;
}

.ugb-container.ugb-container--v2>.ugb-inner-block>.ugb-block-content>.ugb-container__wrapper {
    box-shadow: none !important;
    background-color:transparent !important;
}

.container-fluid {
    width: 75% !important;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 360px;

    & .header-box {
        border: 3px solid white;
        transition: 0.3s;

        & a {}

        &:hover {
            background-color: #2a2a2a;
            transition: 0.3s;
        }
    }
}

.videoTag {
    filter: brightness(75%);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* position: absolute; */
    /* top: 50%; */
    display: block;
    /* left: 50%; */
    /* -webkit-transform: translateX(-50%) translateY(-50%); */
    /* transform: translateX(-50%) translateY(-50%); */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /* width: auto; */
    /* height: auto; */
    z-index: -1000;
    overflow: hidden;
    /* overflow: hidden; */
}

.fullpage-content {
    padding-top: 25px;
    min-width: 500px;
    width: 100%;

    & .col-6 {
        justify-content: space-between;
    }
}

.mega-menu-link {
    transition: 0.3s ease !important;
    padding-left: 5px;

    &:hover {
        transition: 0.3s ease !important;
        cursor: pointer;
    }
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

select,
input,
button,
textarea {
    outline: none;
}

.img-rectangle {
    transition: 0.3s ease;

    & h3 {
        color: white;
        font-size: 2em;
        padding: 25px;
        text-align: center;
        font-family: $primary-font;
        font-weight: 600;
    }

    &:hover {
        background-color: #2a2a2a;
        transition: 0.3s ease;
        cursor: pointer;
        text-decoration: none;
    }
}

.search-input {
    height: 42px;
    font-size: 1.2em;
    width: 100%;
    padding-left: 10px;
    border: 1px solid lightgrey;

    &:focus {
        border: 1px solid lightgrey;
        outline: 0;
        height: 42px;
        padding-left: 10px;
    }
}

.search-submit {
    height: 46px;
    border-radius: 0px;
    width: 60px;
}

section {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
}

.responsive-menu-box {
    margin-top: -10px;
}

#responsive-menu-container #responsive-menu-wrapper {
    background-color: #212121 !important;
}

#responsive-menu-container {
    background-color: #212121 !important;
}

.foo.delighter {
    transition: all 0.6s ease-out;
    transform: translateY(20%);
    opacity: 0;
}

.foo.delighter.started {
    transform: none;
    opacity: 1;
}

.foo.delighter.started.ended {}

.nav {
    // width: 378px;
    margin: 0 auto;
    text-align: center;
    font-family: $primary-font;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.ugb-blog-posts.ugb-blog-posts--v2 .ugb-blog-posts__meta> :not(.ugb-blog-posts__sep) {
    color: white;
}

.mega-sub-menu li {
    padding-top: 10px;
}

#mega-menu-wrap-header-menu {
    margin: 0 auto;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-item>a.mega-menu-link {
    font-size: 1.1em;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    font-size: 14px;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    background: snow;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link {
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    color: black;

    &:after {
        background: none;
    }
}

#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-item>a.mega-menu-link:hover {
    background: #333;
    color: white;

    &:after {
        background: none;
    }
}

.boka-tvattstuga {
    padding-top: 150px;
    height: 100vh;
    background-color: white;
    font-size:2em;
}

.ui-datepicker {
    margin: 0 !important;
}

// #responsive-menu-item-2201, #responsive-menu-item-2198, #responsive-menu-item-2171, #responsive-menu-item-2144 {
//     pointer-events:none !important;
// }

// .responsive-menu-subarrow {
//     pointer-events:all !important;
// }

.section-title {
    font-size: 24px;
    font-weight: 700;
}

.cpp_form {
    width: 25%;
    max-width: 700px;
    min-width: 350px;
    margin: 0 auto;
}

#fbuilder .ui-datepicker-inline {
    max-width: 100% !important;
}

#email_1 {
    width: 100% !important;
    height: 35px !important;
    font-size: 2em;
}

.ugb-blog-posts.ugb-blog-posts--v2 .ugb-block-content {
    grid-row-gap: 10px;
}

#fbuilder .captcha img {
    width: 100% !important;
}

#hdcaptcha_cp_appbooking_post_1 {
    width: 100% !important;
    height: 35px !important;
    font-size: 2em;
}

p {
    font-size: $p-normal;
}

.strandpipa {
    min-width: 80px;
    width: 80px;
    margin-top: 5px;
}

.scroll-symbol {
    width: 30px;
    margin: 0 auto;
    margin-top: -20px;

    & i {
        font-size: 4em;
        color: #f7f7f7;
    }
}

.test123 {
    width: 75%;
    margin: 0 auto;
}

#mega-menu-wrap-header-menu {
    background-color: #fff;
}

.first-page-wrapper {
    width: 100%;
    // margin-top:100vh;
    background-color: #fff;
    min-height: 100%;
    z-index: 10;
    display: block;
}

.page-content {
    max-width: 960px;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    position: relative;
    // padding:50px;
    z-index: 10;
}

main {
    .background-page-img {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
    }
}

#advgb-cols-63d89435-5bb2-4107-a6f2-accb39e9b9e6 {
    width: 50%;
    margin: 0 auto;
}

.advgbbtn-07206db4-2fda-40db-af95-ad93e8c3005c .advgbbtn-013552c0-85fc-41f8-bd5f-66c7d8fc5135 {}

.wp-block-advgb-button .wp-block-advgb-button_link {
    background-color: transparent;
    border-width: 4px !important;
    font-family: $primary-font;
}

.first-page-content {
    // max-width:960px;
    display: block;
    margin: 0 auto;
    position: relative;
    // padding:75px;
    z-index: 10;
    line-height: 27px;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.ugb-container.ugb-container--v2>.ugb-inner-block>.ugb-block-content>.ugb-container__wrapper {
    // background-color:transparent !important;
}

.ugb-blog-posts.ugb-blog-posts--v2.ugb-blog-posts--design-basic .ugb-blog-posts__title {
    text-underline-position: under;
}

.startpage-buttons {
    left: 0;
    right: 0;
    position: absolute;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    top: 25vh;
    color: white;
}

.wp-block-image.is-resized {
    display: block;
}

.footer {
    // padding: 35px 0;
    font-size: 85%;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    display: block;
    background: #2a2a2a;

    p {
        margin-bottom: 0;
    }
}

.copyright {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nyhetsbrev_title {
    font-size: 1.6em;
}

.senaste-nyhet {
    line-height: 25px;
}

.nyhetsbrev_content {
    & p {
        font-size: 16px;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.ugb-container__side .ugb-container__content-wrapper h1 {
    font-size: 52px;
}

.ugb-blog-posts.ugb-blog-posts--v2.ugb-blog-posts--design-basic .ugb-blog-posts__title {
    text-decoration: underline;
    font-size: 2em;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {}

@media only screen and (max-width: 1024px) {
    .container-fluid {
        width: 85% !important;
    }

    .fullpage-image {
        display: block;
        background: url(../img/mobile-strand.png);
        // filter: brightness(1);
        background-size: cover;
        width: 100%;
        z-index: -10;
        height: 100vh;
        top: 0;
        padding-top: 75px;

        video {
            display: none;
        }
    }

    .videoTag {
        display: none;
    }

    main {
        top: 0;
    }

    section {
        margin-top: 50px;
    }

    .header-boxes-wrapper {
        width: 100vw;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 20vh;
        padding-top: 0vh !important;

        & .header-title {
            padding-top: 50px;
        }

        & .row {
            padding-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        max-width: 960px;
        margin: 0 auto;
        padding: 15px;
        margin-top: 25px;

        .section-title {
            //   display: none;
        }
    }

    #responsive-menu-button {
        background: white !important;
    }

    .fullpage-content {
        min-width: 0px !important;
    }

    .ugb-container__content-wrapper h1 {
        font-size: 32px !important;
    }

    .header-boxes-wrapper {
        margin-top: 15vh;
    }

    .img-rectangle {
        font-size: 0.8em;
        padding: 0px;

        &:hover {}

        & h3 {
            font-size: 1.5em;
        }
    }

    .first-page-content {
        max-width: 960px;
        display: block;
        margin: 0 auto;
        position: relative;
        // padding: 25px;
        z-index: 10;
        line-height: 27px;
    }

    .header-title {
        & h1 {
            font-size: 2em;
        }
    }

    .ugb-container.ugb-container--v2.ugb-container--width-small .ugb-container__content-wrapper {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1600px) {
    .search {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .container-fluid {
        width: 100% !important;
    }

    .header-title {
        & h1 {
            font-size: 1.5em;
        }
    }
}

@media only screen and (max-width: 1140px) {
    .footer {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1280px) {
    .col-12 {
        display: block;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-17 11:26:38
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}